*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu{
    height: 50px;
    background-color: #837d7d;
}
#menu ul{
    text-decoration: none;
    list-style: none;
    line-height: 50px;
    text-align: center;
}

#menu ul li a{
    color:white;
}

#menu ul li:hover{
    background: #eeeeee;
    cursor: pointer;
}

#menu ul li:hover a{
    color: black;
}



#header{
    text-align: center;
   
}

footer{
    height:  60px;
    line-height: 55px;
    text-align: center;
    color:#444444;
}


#carreras h2{
    text-align: center;
}


.item {
    
    text-align: justify;
}


#carreras h4{
    text-align: center;
    margin: 2px;
    color: cornflowerblue; 
}

#carreras p img{
    margin: 5px;
    margin-left: 70px;
}

#carreras p{
    margin: 2px;
    font-size: 0.6em;
    color: cornflowerblue;
}


#lateral h4{
    text-align: center;
    margin-top: 10%;
}
.elemento{
    height: 250px;
    text-align: center;
}

@media (max-width: 768px){
    #menu{
        height: auto;
    }
}







#contenido .alumno{
    width: 40%;
    height: 250px;
    float: left;
    margin: 20px;
    margin-left: 40px;
}
#contenido .alumno h4{
    text-align: center;
    margin: 2px;
    color: cornflowerblue; 
}


#contenido .alumno p{
    margin: 2px;
    font-size: 0.6em;
    text-align: justify;
    color: cornflowerblue;
}

#contenido .alumno p img{
    margin: 5px;
    margin-left: 110px;
}



#lateral .alumno h4{
    text-align:center;
    margin: 2px;
    color: cornflowerblue; 
    font-size: 1.5em;
    
}
