*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu{
    height: 50px;
    background-color: #837d7d;
}
#menu ul{
    text-decoration: none;
    list-style: none;
    line-height: 50px;
    text-align: center;
}

#menu ul li a{
    color:white;
}

#menu ul li:hover{
    background: #eeeeee;
    cursor: pointer;
}

#menu ul li:hover a{
    color: black;
}



#header{
    text-align: center;
    height:  60px;
}

footer{
    height:  60px;
    line-height: 55px;
    text-align: center;
    color:#444444;
}



#contenido{
    width: 70%;
    float: left;
}

#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding: 15px;
    color: #444444;
}
#contenido .carrera{
    width: 40%;
    height: 250px;
    float: left;
    margin: 20px;
    margin-left: 40px;
}
#contenido .carrera h4{
    text-align: center;
    margin: 2px;
    color: cornflowerblue; 
}

#contenido .carrera p img{
    margin: 5px;
    margin-left: 70px;
}
#contenido .carrera p{
    margin: 2px;
    font-size: 0.6em;
    text-align: justify;
    color: cornflowerblue;
}
#lateral{
    width: 29%;
    float: left;
    min-height: 500px;
    text-align: center;
    padding: 1px;
    padding-top: 50px;
}

#lateral h4{
    padding-bottom: 50px;
}




.clearFix{
    float: none;
    clear: both;
}

#contenido .alumno{
    width: 40%;
    height: 250px;
    float: left;
    margin: 20px;
    margin-left: 40px;
}
#contenido .alumno h4{
    text-align: center;
    margin: 2px;
    color: cornflowerblue; 
}


#contenido .alumno p{
    margin: 2px;
    font-size: 0.6em;
    text-align: justify;
    color: cornflowerblue;
}

#contenido .alumno p img{
    margin: 5px;
    margin-left: 110px;
}



#lateral .alumno h4{
    text-align:center;
    margin: 2px;
    color: cornflowerblue; 
    font-size: 1.5em;
    
}
