#menu{
    background-color: #eeeeee;
}

#menu ul li{
display: block;
float: left;
border-right: 1px solid #cccccc;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444444;
}

#menu ul li:hover{
    background: rgb(16, 75, 143);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}
*{
    margin: 0px;
    padding-right: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
}

#header{
    width: 100%;
    background: rgb(15, 118, 236);
    height: 100px;
    color: white;
    text-align: center;
    line-height: 90px;
}

#footer{
    width: 100%;
    background: #eeeeee;
    text-align: center;
    color: #444444;
    height: 60px;
    line-height: 55px;
    border-top: 1px solid #cccccc;
}

#contenido{
    width: 70%;
    float: left;
}

#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding: 15px;
    color: #444444;
}
#contenido .carrera{
    width: 40%;
    height: 250px;
    float: left;
    margin: 20px;
}
#contenido .carrera h4{
    text-align: center;
    margin: 2px;
    color: cornflowerblue;
    
}

#contenido .carrera p img{
    margin: 5px;
    margin-left: 70px;
}
#contenido .carrera p{
    margin: 2px;
    font-size: 0.6em;
    text-align: justify;
    color: cornflowerblue;
}